* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #ddd;
  --dark: #1d1d1d;
  --light: #abb2b3;
  --shadow: 0 1px 5px rgba(104 104 104 0.8);
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #151717;
  background: -moz-linear-gradient(top, #253031 0%, #426b74 56%, #577174 100%);
  background: -webkit-linear-gradient(
    top,
    #253031 0%,
    #426b74 56%,
    #577174 100%
  );
  background: linear-gradient(to bottom, #253031 0%, #426b74 56%, #577174 100%);
}

.container {
  width: 1200px;
  margin: 0 auto;
  color: var(--light);
}

.img-home,
.img-link {
  border: 9px inset #68878a;
  border-radius: 6px 6px 6px 6px;
}

/* header */
header {
  /* background: #253031;
  background: -moz-linear-gradient(top, #253031 0%, #2C474D 59%, #577174 100%);
  background: -webkit-linear-gradient(top, #253031 0%, #2C474D 59%, #577174 100%);
  background: linear-gradient(to bottom, #253031 0%, #2C474D 59%, #577174 100%);
  );
  background: linear-gradient(to bottom, #253031 0%, #2c474d 50%, #577174 100%); */
  padding-bottom: 10px;
}

.logo {
  padding-left: 50px;
}

ul li a {
  text-decoration: none;
  font-size: 24px;
  color: var(--light);
}

ul {
  list-style-type: none;
  display: flex;
  gap: 60px;
  padding-right: 200px;
}

ul :hover {
  background-color: var(--primary);
  color: var(--dark);
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}
/* main */
/* main {
  background: #2c474d;
  background: -moz-linear-gradient(left, #2c474d 0%, #3d666f 50%, #527c86 100%);
  background: -webkit-linear-gradient(
    left,
    #2c474d 0%,
    #3d666f 50%,
    #527c86 100%
  );
  background: linear-gradient(to right, #2c474d 0%, #3d666f 50%, #527c86 100%);
} */

/* homepage */

#homepage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}

#parhome {
  display: grid;
  grid-template-rows: repeat(2);
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* servicepage */

#servicespage {
  display: flex;
  justify-content: space-between;
}
.img-link {
  margin-top: 50px;
}
.link1,
.link2,
.link3 {
  width: 270px;
  padding: 10px;
  text-align: justify;
}
a {
  text-decoration: none;
  color: rgb(60, 92, 93);
}

.link1 p {
  margin-top: 20px;
}
.link2 p {
  margin-top: 20px;
}
.link3 p {
  margin-top: 20px;
}
